button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn-ktf2021-blue {
	font-family: $font__heading;
	font-size: 1.5em;
	border-radius: 0;
	margin: 1.5vh 0;
}

.btn-ktf2021-blue {
	color: $color__white;
	background-color: $color__blue_light;
	border-color: $color__blue_light;
}

.btn-ktf2021-blue:hover{
	background-color: $color__green;
	border-color: $color__green;
}

