button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn-ktf2021-blue {
	font-family: $font__heading;
	font-size: 1.5em;
	border-radius: 0;
	margin: 1.5vh 0;
}

.btn-ktf2021-blue {
	color: $color__white!important;
	background-color: $color__blue_light!important;
	border-color: $color__blue_light!important;
}

.btn-ktf2021-blue:hover{
	background-color: $color__green;
	border-color: $color__green;
}



.btn-ktf2021-white {
	font-family: $font__heading;
	font-size: 1.5em;
	border-radius: 0;
	margin: 1.5vh 0;
	color: $color__black!important;
	background-color: $color__white!important;
	border-color: $color__white!important;
	
    transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.btn-ktf2021-white:hover{
	background-color: $color__gray!important;
	border-color: $color__gray!important;
}

// Buttons
.ktf2021-button {
    border-radius: 0;
    border-width: 0;
    cursor: pointer;
    white-space: nowrap;
  
    transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
  
    .span {
      padding: 12px 24px;
    }
  
    &.blue {
      background-color: $color__blue;
      color: $color__white;
    }
  
    &.blue:hover {
      background-color: $color__blue_hover;
      color: $color__white;
    }
  
    &.green {
      background-color: $color__green;
      color: $color__white;

      &[aria-expanded=true] {
          background-color: $color__blue;
          color: $color__white;
      }

      &[aria-expanded=true]:hover {
          background-color: $color__blue_hover;
          color: $color__white;
      }
    }
  
    &.green:hover {
      background-color: $color__green_hover;
      color: $color__white;
    }
  
    &.black {
      background-color: $color__black;
      color: $color__white;
    }
  
    &.black:hover {
      background-color: $color__black_hover;
      color: $color__white;
    }
  
    &.white {
      background-color: $color__white;
      color: $color__black;
    }
  
    &.white:hover {
      background-color: $color__gray_light;
      color: $color__black;
    }
  }