@import "buttons";

@import "fields";

/*--------------------------------------------------------------
# WP Quiz
--------------------------------------------------------------*/
.wq-quiz.wq-skin-flat .wq_singleAnswerCtr:hover {
  background: $color__green_transparent !important;
  border: 3px solid $color__green !important;
}

.wq-quiz .wq-results {
  background: $color__white !important;
  border-color: $color__white !important;
}

.wq_shareCtr p {
  visibility: hidden !important;

  &::after {
    content: "Teile Dein Resultat: " !important;
    visibility: visible !important;
    display: block !important;
    position: absolute !important;
    margin-top: -14px !important;
  }
}
