// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

$skew: 1deg;
$skew_negative: -1 * $skew;

.ktf2021-content {
    margin: 1vh 1vw;
    -webkit-transform: skewY($skew);
    -moz-transform: skewY($skew);
    -ms-transform: skewY($skew);
    -o-transform: skewY($skew);
    transform: skewY($skew);
    animation: fade-in 0.75s;
}

.search-container {
    width: 90%;
}

@media (min-width: 992px) {
    .ktf2021-content {
        margin: 1vh 7.5vw;
    }   

    .search-container {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .ktf2021-content {
        margin: 1vh 15vw;
    }
 }

@keyframes fade-in {
    from {opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 200, 0, 1) }
    to {opacity: 1;}
}

.diagonal-container {
    height: 400px;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-transform: skewY($skew_negative);
    -moz-transform: skewY($skew_negative);
    -ms-transform: skewY($skew_negative);
    -o-transform: skewY($skew_negative);
    transform: skewY($skew_negative);
    overflow: hidden;
}

/*--------------------------------------------------------------
## Site Sections
--------------------------------------------------------------*/
.site-header {
    background-color: $color__background-site-header;
    height: 30vh;
    margin-top: -50px;
    padding-top: 50px;
    -webkit-transform: skewY($skew_negative);
    -moz-transform: skewY($skew_negative);
    -ms-transform: skewY($skew_negative);
    -o-transform: skewY($skew_negative);
    transform: skewY($skew_negative);

	.menu-header {
        position: relative;
        -webkit-transform: skewY($skew);
        -moz-transform: skewY($skew);
        -ms-transform: skewY($skew);
        -o-transform: skewY($skew);
        transform: skewY($skew);
	}
	
	.menu-header-palme {
		top: 0px;
		left: 0px;
        z-index: 999;
        width: 30%;
        position: absolute;
    }
    
    .menu-header-logo {
        position: absolute;
        top: 2vh;
        left: 50%;

        img {
            height: 30vh;
        }
    }

    .menu-header-controls {
        margin-left: auto;
        margin-right: 0;
    }
}
    
.footer-navigation {
    background-color: $color__background-footer-navigation;
    -webkit-transform: skewY($skew_negative);
    -moz-transform: skewY($skew_negative);
    -ms-transform: skewY($skew_negative);
    -o-transform: skewY($skew_negative);
    transform: skewY($skew_negative);
    margin: 0 0 -20px 0;
    z-index: 10;
    width: 100%;
    padding: 0;

    .footer-navigation-content {        
        margin: 0 1vw;
        padding: 50px 0;
        -webkit-transform: skewY($skew);
        -moz-transform: skewY($skew);
        -ms-transform: skewY($skew);
        -o-transform: skewY($skew);
        transform: skewY($skew);
    }
}

.site-info {
    background-color: $color__background-footer-end;
    z-index: 0;
    width: 100%;
    padding: 40px 0 25px 0;
    margin: 0;

    .site-info-content {
        color: $color__white;
        text-align: right;
    }
}

.ktf2021-container-white,
.ktf2021-container-black,
.ktf2021-container-blue,
.ktf2021-container-green,
.ktf2021-container-carousel {
    padding: 5vh 0;
    -webkit-transform: skewY($skew_negative);
    -moz-transform: skewY($skew_negative);
    -ms-transform: skewY($skew_negative);
    -o-transform: skewY($skew_negative);
    transform: skewY($skew_negative);
}

.ktf2021-container-white, {
    color: $color__black;
}

.ktf2021-container-black, {
    background-color: $color__black;
    color: $color__white;
}

.ktf2021-container-blue, {
    background-color: $color__blue;
    color: $color__white;
}

.ktf2021-container-green, {
    background-color: $color__green;
    color: $color__white;
}

.ktf2021-container-carousel {
    padding: 3vh 0;
    height: 300px;
    overflow: hidden;
    z-index: -1;
    position: relative;
}