// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

$skew: 1deg;
$skew_negative: -1 * $skew;

.ktf2021-content {
    padding: 1vh 1vw;
    -webkit-transform: skewY($skew);
    -moz-transform: skewY($skew);
    -ms-transform: skewY($skew);
    -o-transform: skewY($skew);
    transform: skewY($skew);
}

.search-container {
    width: 90%;
    margin-bottom: 10vh;
}

.btn-ktf2021-search {
    color: $color__white;
    background-color: $color__green;
    border-color: $color__green;
    z-index: 0 !important;
}

@media (min-width: $size__md) {
    .ktf2021-content {
        padding: 1vh 7.5vw;
    }   

    .search-container {
        width: 50%;
    }
}
@media (min-width: $size__lg) {
    .ktf2021-content {
        padding: 1vh 15vw;
    }
 }

/*--------------------------------------------------------------
## Site Sections
--------------------------------------------------------------*/
.site-header {
	color: $color__white;
    background-color: $color__background-site-header;
    transition: height 0.1s;
    margin-top: -50px;
    padding-top: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    -webkit-transform: skewY($skew_negative);
    -moz-transform: skewY($skew_negative);
    -ms-transform: skewY($skew_negative);
    -o-transform: skewY($skew_negative);
    transform: skewY($skew_negative);

	.menu-header {
        position: relative;
        height: 100%;
        -webkit-transform: skewY($skew);
        -moz-transform: skewY($skew);
        -ms-transform: skewY($skew);
        -o-transform: skewY($skew);
        transform: skewY($skew);
	}
	
	.menu-header-palme {
		top: 0; left: 0;
        
        img {
            transition: 0.1s;
            height: 220px;
        }
    }
    
    .menu-header-logo {
        margin-top: 10px;
        margin-left: 10px;

        img {
            transition: 0.1s;
            height: 200px;
        }
    }

    .menu-header-controls {
        margin-right: 10px;

        i {
            cursor: pointer;
        }
    }
}

.menu-list {
    a {
        color:white;
        transition:.5s;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
    }
    a:hover { color: gray; }
}

/*--------------------------------------------------------------
## Site Content
--------------------------------------------------------------*/
.site-content {
    margin-top: 120px;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer-navigation {
    background-color: $color__background-footer-navigation;
    -webkit-transform: skewY($skew_negative);
    -moz-transform: skewY($skew_negative);
    -ms-transform: skewY($skew_negative);
    -o-transform: skewY($skew_negative);
    transform: skewY($skew_negative);
    margin: 0 0 -20px 0;
    z-index: 10;
    width: 100%;
    padding: 0;

    .footer-navigation-content {
        padding: 50px 0;
        -webkit-transform: skewY($skew);
        -moz-transform: skewY($skew);
        -ms-transform: skewY($skew);
        -o-transform: skewY($skew);
        transform: skewY($skew);
    }
}

.site-info {
    background-color: $color__black;
    z-index: 0;
    width: 100%;
    margin: 0;

    .site-info-background {
        background-color: $color__background-footer-end;
        padding: 40px 0 25px 0;
        margin: 0;
    }

    .site-info-content {
        color: $color__white;
        text-align: right;
    }
}

.ktf2021-container-white,
.ktf2021-container-black,
.ktf2021-container-blue,
.ktf2021-container-green,
.ktf2021-container-carousel,
.ktf2021-ab-news-container {
    margin: 2vh 0;
    padding: 4vh 0;
    -webkit-transform: skewY($skew_negative);
    -moz-transform: skewY($skew_negative);
    -ms-transform: skewY($skew_negative);
    -o-transform: skewY($skew_negative);
    transform: skewY($skew_negative);
}

.ktf2021-container-white, {
    background-color: $color__white;
    color: $color__black;
}

.ktf2021-container-black, {
    background-color: $color__black;
    color: $color__white;
}

.ktf2021-container-blue, {
    background-color: $color__blue_light;
    color: $color__white;
}

.ktf2021-container-green, {
    background-color: $color__green;
    color: $color__white;
}

$carousel_height_lg: 300px;
$carousel_height_sm: 200px;

.ktf2021-container-carousel {
    padding: 0;
    height: $carousel_height_lg;
    overflow: hidden;
    z-index: -1;
    position: relative;

    img {
        height: $carousel_height_lg;
        object-fit: cover
    }
}

@media (max-width: $size__md) {
    .ktf2021-container-carousel {
        height: $carousel_height_sm;
    
        img {
            height: $carousel_height_sm;
        }
    }
}

// Look
.ktf2021-ab-news-container {
    background-color: $color__black;
    color: $color__black;

    .is-grid{        
        margin: 1vh 1vw;
    }

    article {
        -webkit-transform: skewY($skew);
        -moz-transform: skewY($skew);
        -ms-transform: skewY($skew);
        -o-transform: skewY($skew);
        transform: skewY($skew);

        background-color: $color__white;
        padding: 1vh 1vw;

        .ab-block-post-grid-image,
        .ab-block-post-grid-byline,
        .ab-block-post-grid-text p {
            margin-bottom: 1vh;
        }

        .ab-block-post-grid-title {
            margin-bottom: 1vh;

            a {
                color: $color__black;
                text-decoration: none;
            }
        }

        .ab-block-post-grid-excerpt {
            font-size: 12px;
        }

        .ab-block-post-grid-link {
            text-decoration: none;
        }
    }
}

@media (min-width: $size__md) {
    .ktf2021-ab-news-container {
        .is-grid {
            margin: 1vh 7.5vw;
        }
    }
}
@media (min-width: $size__lg) {
    .ktf2021-ab-news-container {
        .is-grid {
            margin: 1vh 15vw;
        }
    }
 }
