// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

.search-container {
  width: 90%;
  margin-bottom: 10vh;
}

.btn-ktf2021-search {
  color: $color__white;
  background-color: $color__green;
  border-color: $color__green;
  z-index: 0 !important;
}

$skew: 1deg;
$skew_negative: -1 * $skew;
$marginx-sm: 2.5vw;
$marginx-md: 7.5vw;
$marginx-lg: 14vw;
$marginx-xxl: 18vw;
$marginx-xxxl: 23vw;

/// Mobile
.footer-navigation-content,
.ktf2021-content,
.ktf2021-content-margin {
  padding: 1vh $marginx-sm;
}

.ktf2021-content-fullwidth {
  padding: 1vh 0;
}

/// Tablet
@media (min-width: $size__md) {
  .footer-navigation-content,
  .ktf2021-content,
  .ktf2021-content-margin {
    padding: 1vh $marginx-md;
  }

  .search-container {
    width: 50%;
  }
}

// PC
@media (min-width: $size__lg) {
  .footer-navigation-content,
  .ktf2021-content,
  .ktf2021-content-margin {
    padding: 1vh $marginx-lg;
  }

  .footer-navigation-content,
  .ktf2021-content {
    -webkit-transform: skewY($skew);
    -moz-transform: skewY($skew);
    -ms-transform: skewY($skew);
    -o-transform: skewY($skew);
    transform: skewY($skew);
  }
}

/// PC (skewY same as Tablet)
@media (min-width: $size__xxl) {
  .footer-navigation-content,
  .ktf2021-content,
  .ktf2021-content-margin  {
    padding: 1vh $marginx-xxl;
  }
}

/// PC (skewY same as Tablet)
@media (min-width: $size__xxxl) {
  .footer-navigation-content,
  .ktf2021-content,
  .ktf2021-content-margin  {
    padding: 1vh $marginx-xxxl;
  }
}

/*--------------------------------------------------------------
## Site Sections
--------------------------------------------------------------*/
/// Mobile
.site-header {
  background-color: $color__background-site-header;
  transition: height 0.1s;
}

.site-header.mobile {
  img {
    height: 100px;
  }
}

.site-header.desktop {
  margin-top: -50px;
  padding-top: 50px;

  .header-content {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .header-logo {
    height: 200px;
    margin-top: -20px;
  }

  .header-palme {
    top: -1px;
    left: 0;
    height: 400px;
    transition: height $navigation_fade_animation;
  }
}

.search-icon {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: color, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: $color__white;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.search-icon:hover {
  color: $color__gray;
}

.menu-list {
  padding-left: 5%;

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    color: white;
    transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
  }

  a:hover {
    color: gray;
  }
}

@media (min-width: $size__sm) {
  .menu-list {
    padding-left: 33%;
  }
}

@media (min-width: $size__md) {
  .menu-list {
    padding-left: 0;
  }
}

/*--------------------------------------------------------------
## Site Content
--------------------------------------------------------------*/
.site-content {
  margin-top: 78px;
}

@media (min-width: $size__lg) {
  .site-content {
    margin-top: 138px;
  }
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
/// Mobile
.footer-navigation {
  background-color: $color__background-footer-navigation;
  margin: 0 0 -20px 0;
  z-index: 10;
  width: 100%;

  .footer-navigation-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.site-info {
  background-color: $color__black;
  z-index: 0;
  width: 100%;
  margin: 0;

  .site-info-background {
    background-color: $color__background-footer-end;
    opacity: 0.95;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $size__md) {
    .site-info-background {
      padding: 40px 0 25px 0;
    }
  }

  .site-info-content {
    color: $color__white;
    text-align: right;
  }
}

/// Mobile
.ktf2021-container-white,
.ktf2021-container-black,
.ktf2021-container-blue,
.ktf2021-container-green {
  margin: 10px 0;
  padding: 4vh 0;
}

// Tablet like Mobile

// PC
@media (min-width: $size__lg) {
  .ktf2021-container-white,
  .ktf2021-container-black,
  .ktf2021-container-blue,
  .ktf2021-container-green,
  .footer-navigation,
  .site-header.desktop {
    -webkit-transform: skewY($skew_negative);
    -moz-transform: skewY($skew_negative);
    -ms-transform: skewY($skew_negative);
    -o-transform: skewY($skew_negative);
    transform: skewY($skew_negative);
  }
}

.ktf2021-container-white {
  background-color: $color__white;
  color: $color__black;

  a {
    color: $color__gray_light;
  }

  a:hover {
    color: $color__gray;
  }
}

.ktf2021-container-black {
  background-color: $color__black;
  color: $color__white;

  a {
    color: $color__gray_light;
  }

  a:hover {
    color: $color__gray;
  }
}

.ktf2021-container-blue {
  background-color: $color__blue_light;
  color: $color__white;

  a {
    color: $color__gray_dark;
  }

  a:hover {
    color: $color__black;
  }
}

.ktf2021-container-green {
  background-color: $color__green;
  color: $color__white;

  a {
    color: $color__black;
  }

  a:hover {
    color: $color__gray;
  }
}
