body,
.wp-block-image figcaption,
button,
input,
select,
optgroup,
textarea {
	font-family: $font__main;
	@include font-size(1.1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

.under-title {
	font-family: $font__heading;
	font-size: 2em;
	font-style: italic;
	padding: 0;
	margin: 0;
}