$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #00cfff;
$color__link-visited: purple;
$color__link-hover: #3ca6cd;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__white: white;
$color__black: black;
$color__black_hover: #2f3030;
$color__green: #a3d01e;
$color__green_hover: #8faf1c;
$color__green_transparent: #a4d01e50;
$color__blue_light: #00cfff;
$color__blue_hover: #3ca6cd;
$color__blue: rgb(0,207,255);
$color__gray_light: rgb(192,192,192);
$color__gray: rgb(150, 150, 150);
$color__gray_dark: rgb(105,105,105);

/*--------------------------------------------------------------
## Site Sections Colors
--------------------------------------------------------------*/
$color__background-site-header: $color__black;
$color__background-footer-navigation: $color__blue_light;
$color__background-footer-end: $color__blue;
